#canvas {
    background-color: white;
}

#img-block {
    width: 288px;
    height: 288px;
    overflow: hidden;
    position: relative;
    left: 0px;
}

#hero-img {
    width: 1728px;
    height: 1152px;
    position: relative;
    top: 0px;
    left: -288px;
    transform: scale(-1, 1);
}

#fsBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}